<IfModule mod_rewrite.c>
    RewriteEngine On
    #Forward/Set the Authorization Header for Basic/Bearer
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    #Rewrite to index.php and append query params
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /index.php/$1 [L,QSA]
</IfModule>
